.Quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  & h1,
  h2 {
    color: rgb(0, 0, 0);
    margin-left: 10px;
  }
}
.QuizWrapper {
  width: 600px;
}
