.NotFound {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    87deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(61, 9, 121, 1) 43%,
    rgba(176, 116, 179, 1) 76%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  .block {
    a {
      color: #fff;
      .link {
        text-decoration: underline;
        display: inline-block;
        padding: 15px;
        margin-left: -15px;
        margin-top: -15px;
      }
    }
  }
}
