textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
.TouchInput {
}

.TextArea {
  width: 100%;
  padding: 0 0 5px 0;
  font-family: inherit;
  font-weight: inherit;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.479);
  }
  &::placeholder {
    color: rgb(200, 200, 200);
  }
}
