.AnswerItem {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease-in-out;
  }
  &.success {
    background: rgba(0, 255, 0, 0.2);
    transition: background 0.3s ease-in-out;
  }
  &.error {
    background: rgba(255, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;
  }
}
