.Logout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    87deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(61, 9, 121, 1) 43%,
    rgba(176, 116, 179, 1) 76%,
    rgba(255, 255, 255, 1) 100%
  );
}
