.ActiveQuiz {
  padding: 20px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: 0 10px;
  box-sizing: border-box;
}
.Question {
  display: flex;
  justify-content: space-between;
}
